{% extends 'Importer/base.html' %}
{% load bootstrap3 %}


{% block content %}
{# Display a form #}
<br/>
<form action="/exportar" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <div class="form-group">

        <button type="download" class="btn btn-primary">
            {% bootstrap_icon "download" %} Descargar
        </button>
        </div>
    {% endbuttons %}

</form>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}
