{% extends 'Importer/base.html' %}
{% block content %}

    <form action="{% url 'importer:upload_csv' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div>
        <input type="file" id = 'csv_file' name="csv_file" class=inputfile />
        <label for = "csv_file"> Elija un archivo </label>
        <input type="submit" value="Upload" />
    </div>
        {% for error in errores %}
            <div>
                <p>{{  error }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </form>


{% endblock %}

