{% extends 'Importer/base.html' %}
{% block content %}
    {% load bootstrap3 %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <br>
                <div class="alert alert-info" role="alert">
                    <button class="close" data-dismiss="alert">
                        &times;
                    </button>
                    <strong>Info: </strong>{{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'importer:upload_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div lang="es"></div>
        </br>
        <div class="container">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id='csv_file' name="csv_file" lang="es">
                <label class="custom-file-label" for="csv_file">Seleccione archivo de medio de pago</label>
                <div class="container">
                    <br/>
                    <input type="submit" class="btn btn-primary btn-block" >
                </div>
            </div>
        </div>
    </form>


    <script >
    $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
    </script>

{% endblock %}

